version: "3.7"
services:
  dbserver:
    container_name: mysql-db
    build:
      context: ./docker/mysql
      dockerfile: Dockerfile
    image: chig1215/mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: chig1215
      MYSQL_PASSWORD: chig1215
      MYSQL_DATABASE: kinto
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql/conf.d:/etc/mysql/conf.d
      - ./docker/mysql/initdb.d:/docker-entrypoint-initdb.d
      - ./docker/log/mysql:/var/log/mysql
      - mysql_db:/var/lib/mysql
  flyway-repair:
    container_name: flyway-repair
    image: flyway/flyway
    command: repair
    volumes:
      - ./docker/flyway/conf:/flyway/conf
    depends_on:
      - dbserver
  flyway-migration:
    container_name: flyway-migration
    image: flyway/flyway
    command: -url=jdbc:mysql://dbserver -schemas=kinto -user=chig1215 -password=chig1215 -connectRetries=60 migrate
    volumes:
      - ./docker/flyway/conf:/flyway/conf
      - ./docker/flyway/sql:/flyway/sql
    depends_on:
      - flyway-repair
  spring:
    container_name: spring-app
    build: ./docker/spring
    depends_on:
      - flyway-migration
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      # mysqlの接続設定 host:portはコンテナ名指定
      spring.datasource.driverClassName: "com.mysql.cj.jdbc.Driver"
      spring.datasource.url: "jdbc:mysql://dbserver/kinto"
      spring.datasource.username: "chig1215"
      spring.datasource.password: "chig1215"
    working_dir: /app
    command: sh -c "java -jar -Dspring.profiles.active=docker-compose ./build/libs/rest-api-test-by-spock-0.0.1-SNAPSHOT.jar"
# DBの永続化先
volumes:
  mysql_db:
    driver: local
